.reviews-section {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.list-show-more-reviews-btn{
  position: relative;
  font-size: 1rem;
  bottom: 1rem;
  color: var(--prim-500);
  
  

}