.rest-details {
  display: flex;
  max-width: 1280px;
}

.left-section {
  flex: 1;
  flex-direction: column;
}

.right-section {
  flex: 1;
  flex-direction: column;
}

.info-section{
  max-width: 600px;
}

.details-name {
  align-self: flex-start;
  font-size: 2rem;
  margin: 0 0 0.5rem 0; 
  padding: 0;
}

.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tag {
  background-color: #e4e4e4;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.tags-and-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.rating-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.existing-rating {
  display: flex;
  align-items: center;
}

.loc-contact-price {
  margin-top: 20px;
}

.details-lcp {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.details-lcp > svg {
  margin-right: 10px;
}

.img-section {
  width: 50vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.details-main-img {
  width: 95%;
  object-fit: cover;
  height: 430px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.details-small-imgs {
  display: flex;
  gap: 1%;
  
}

.details-small-img {
  height: 150px;
  width: 23%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.left-section > *:not(:last-child),
.right-section > *:not(:last-child) {
  margin-bottom: 1rem;
}