.rest-details {
  display: flex;
  max-width: 1280px;
}

.left-section {
  flex: 1;
  flex-direction: column;
}

.right-section {
  flex: 1;
  flex-direction: column;
}

.info-section {
  max-width: 600px;
  background-color: #fcf8e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #110f0f;
}

.details-name {
  align-self: flex-start;
  font-size: 2rem;
  margin: 0 0 0.5rem 0; 
}

.tags {
  display: flex;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.existing-rating {
  display: flex;
  align-items: center;
}

.loc-contact-price {
  margin-top: 20px;
}

.details-lcp {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.details-lcp > svg {
  margin-right: 10px;
}

.img-section {
  width: 50vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.details-main-img {
  width: 95%;
  object-fit: cover;
  height: 430px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.details-small-imgs {
  display: flex;
  gap: 1%;
}

.details-small-img {
  height: 150px;
  width: 23%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.left-section > *:not(:last-child),
.right-section > *:not(:last-child) {
  margin-bottom: 1rem;
}

.details-lcp.opening-hours {
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.details-lcp.opening-hours strong {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #333;
}

.details-lcp.opening-hours ul {
  font-size: 1rem; 
  font-family: 'Courier New', Courier, monospace;
}

.details-lcp.opening-hours ul li {
  margin-bottom: 8px; 
}

.details-lcp.opening-hours ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #333;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}