.rest-details {
  display: flex;
}

.info-section {
  width: 50vw;
  min-width: 500px;
  padding: 0 5% 0 1rem;
}

.details-name {
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
  padding: 0;
}

.details-descr {
  font: 300 0.8rem "Space Grotesk";
  max-width: 80%;
}

.tags-and-rating{
  display: flex;
  justify-content: space-between;
}

.tags{
  display: flex;
}

.tag {
  display: flex;
  align-items: center;
  background-color: var(--grey-100);
  padding: 0.2rem 1rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  font-weight: 300;
}

.rating-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.existing-rating {
  display: flex;
}

.details-lcp {
  display: flex;
  font-weight: 300;
  margin-top: 1rem;
  gap: 0.5rem
}

.img-section {
  width: 50vw;
  margin: 2rem 1rem 0 1rem;
}

.details-main-img {
  width: 50%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.details-small-imgs {
  display: flex;
  gap: 0.5rem
}

.details-small-img {
  height: 150px;
  width: 25%;
  border-radius: 0.5rem;
  object-fit: cover;
}
  

.reviews-section {
  margin-top: 40px;
  border-top: 2px solid #e0e0e0;
  padding-top: 30px;
}

.review {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.review-author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.review-author h3 {
  margin: 0;  
  font-size: 1rem;
  color: #333;  
}

.review-content p {
  margin-top: 10px;
  color: #555;
}
