@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');


body {
--prim-500: #3fa6ce;
--sec-500: #2fe3ff;
--grey-50:#fafafa;
--grey-100:#dddddd;
--grey-300:#ababab;
--grey-500:#717171;
--grey-700:#454444;
--grey-900:#2c2b2b;
--grey-900-trans:#2c2b2b49;

font-family: 'Space Grotesk', sans-serif;
color: var(--grey-900);

}

