@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');


body {
  --prim-100: #bcdfed;
  --prim-300: #81c5e0;
  --prim-500: #3fa6ce;
  --prim-700: #2083ab;
  --prim-900: #054c69;

  --sec-100: #f2f8cf;
  --sec-300: #eefd9b;
  --sec-500: #e0ff2f;

  --bright: #f1f1f1;
  --grey-50:#fafafa;
  --grey-50-trans: #fafafada;
  --grey-100:#dddddd;
  --grey-300:#ababab;
  --grey-500:#717171;
  --grey-700:#454444;
  --grey-900:#2c2b2b;
  --grey-900-trans:#2c2b2b49;

font-family: 'Space Grotesk', sans-serif;
color: var(--grey-900);

}

