.about-page-header-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../../../public/images/food-search.jpg") ;
  background-size: cover;
  background-position-x: center;
}

.about-page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}


.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
  color: #333;
  line-height: 1.6;
  text-align: center;
  max-width: 1300px;
}



.section-heading {
  font-size: 3rem;
  color: #444;
  margin-bottom: 2rem;
  font-weight: 600;
  
  padding-bottom: .5rem;
  width: 100%;
  text-align: center;
}

.margin-top{
  margin-top: 3rem;

}

.border-bottom{
  border-bottom: 2px solid #ccc;
}

.about-text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.about-page section {
  margin: 2rem auto;   
}

.about-page-accordion{
  text-align: left;
}

.about-page-accordion.accordion-content.open{
  background-color: green;
}

.about-project-acc-content{
  padding: 3rem;

}

.about-project-acc-list{
  list-style: inside;
  margin: 0.5rem 2rem 0 2rem;
  padding: 1rem ;
  background-color: var(--grey-50);
  border-radius: 1rem;
}

.about-project-acc-indented-list{
  list-style: circle;
  margin: 0 2rem;
  padding: 0.4rem 0 ;
}

.about-project-acc-list-header{
  font-weight: 500;
  color: var(--prim-700);
  margin-bottom: 0.3rem;
}

.about-project-acc-sub-header{
  font-weight: 500;
  color: var(--prim-700);
  margin-top: 0.5rem;
}

.about-project-acc-quote{
  display: block;
  background-color: var(--grey-50);
  border-left: 5px solid var(--prim-500);
  padding: 1rem 1rem;
  font-style: italic;
  margin: 0.5rem  2rem;

}




.about-team-section{
  margin: 0;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.about-footer{
  display: flex;
  padding: 2rem 0;
  font-weight: 300;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--prim-300);
  width: 100%;
}

.about-footer-headline{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.techlabs-logo{
  width: 100px;
}