
.filter-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  position: relative;
  width: 8rem;
  color: var(--grey-900);
  padding: 10px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
   
}

.dropdown-button::after{
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border-right: 2px solid var(--prim-500);
}


.dropdown-button:hover {
  transform: translateY(0.15rem);
  border-color: var(--grey-500);  
}

.arrow {
  margin-left: 10px;
}

.dropdown-content {
    position: absolute;
    background-color: var(--grey-50-trans); 
    width: 8rem;
    border-radius: 8px;
    margin-top: 0.6rem;
    box-shadow: 0 2px 5px var(--grey-900-trans);
    display: none;
    z-index: 1000; 
  }
  
.dropdown-content button {
  display: block;
  width: 100%;
  background-color: transparent;
  color: var(--grey-900);
  padding: 8px 16px;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey-50);
  color: var(--bright);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

.dropdown-content button:hover {
  background-color: var(--grey-50);
}

.iconSpacing {
    margin-left: 0.5em;
  }

.iconSpacing IoStar {
    display: inline-block;
 }

 .star-wrapper {
  display: flex;
  width: 6rem;
  flex-direction: row;
  margin-bottom: 5px;
}
  
.dropdown-content.star-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.star-row button {
    flex: 1;
    background: none;
    border: none;
    cursor: pointer;
}