.search-results-page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-page-header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/images/food-search.jpg") ;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 2rem;
}



.search-page-searchbar-and-button-outer-wrapper{
  display: flex;
  justify-content: center;
  
}

.search-page-searchbar-and-button-wrapper{
  position: relative;
  width: 900px;
}


.search-page-btn-search-by-name{
position: absolute;
padding: 0.3rem;
left: 16.8rem;
font: 500 0.8rem "Space Grotesk";
color: var(--prim-500);
transition: 0.5s;
}

.search-page-btn-search-by-name:hover{
  color:var(--prim-700);
  text-decoration: underline;
}

.search-page-rest-list-section{
  display: flex;
  /* justify-content: center; */
}

.search-page-rest-list-wrapper{
  margin: 0 auto;
}

.search-page-results-header-text-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7rem 0 3rem 0;

  
}

.search-page-results-header-text{
  font: 500 2.2rem "Space Grotesk";
  color: var(--grey-700);
  
}

#search-results-highlight {
  color: var(--prim-700);
  font-style: italic;
}