.review {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 650px;
}

.review-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.review-author {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.review-author h3 {
  margin: 0;  
  font-size: 1rem;
  color: #333;  
}

.review-text {
  margin-top: 10px;
  font-weight: 300;
}

.btn-full-review {
  font-size: 0.8rem;
  color: var(--prim-500);
}