.main-page-header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/images/food-main.jpg") ;
  background-size: cover;
  background-position-x: center;
  padding-bottom: 4rem;
}



.main-page-searchbar-and-button-outer-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  
}

.main-page-searchbar-and-button-wrapper{
  position: relative;
  width: 900px;
}


.btn-search-by-name{
position: absolute;
padding: 0.3rem;
left: 16.8rem;
font: 500 0.8rem "Space Grotesk";
color: var(--prim-500);
transition: 0.5s;
}

.btn-search-by-name:hover{
  color:var(--prim-700);
  text-decoration: underline;
}

.main-page-rest-list-section{
  margin: 2rem 1rem;
  display: flex;
  /* justify-content: center; */
}

.main-page-rest-list-wrapper{
  margin: 0 auto;
}