.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}


.nav-item {
  margin: 0 1rem;
  transition: 0.3s;
}

.nav-item:hover {
  border-bottom: 0.5rem solid var(--prim-500);
}

.logo {
  transition: 0.3s;
}

.logo:hover {
  color: var(--prim-500);
  transform: skewX(5deg);
}