.card {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 1rem;
  max-width: 350px;
  height:400px;
  background-color: var(--grey-50);
  margin: 0 1rem 1rem 0;
  box-shadow: 1px 1px 24px var(--grey-900-trans);
  overflow: hidden;
  transition: 0.1s;
  
}

.card:hover {
  transform: translateY(2px);
  border: solid 2px var(--prim-500);
  cursor: pointer;
}

.card-img {
  object-fit: cover;
  width: 100%;
  max-height: 50%;
}

.card-hidden-ico {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  
}

.card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.card-rating {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 300;
  margin-left: 0.5rem;

}

.card-descr {
  font-weight: 300;
}